.dashboard-container {
    display: flex;
    height: 100vh;
    background: #f4f6f9;
}

.sidebar { 
    width: 250px;
    background: #111;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar button {
    background: none;
    border: none;
    color: white;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar button:hover {
    background: #333;
}

.sidebar .logout-btn {
    margin-top: auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e63946 !important;
    background: transparent !important;
    color: #e63946 !important;
    font-weight: 500;
    transition: all 0.3s ease;
}

.sidebar .logout-btn:hover {
    background: #e63946 !important;
    color: white !important;
}


.main-content {
    flex: 1;
    padding: 60px;
    overflow-y: auto;
}

.section-card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
    max-width: 900px;
}

.section-card input,
.section-card textarea,
.section-card select {
    width: 70%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.button-row {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.save-btn {
    padding: 12px 25px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.view-btn {
    padding: 12px 25px;
    background: #e63946;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}